<h1>Ask me anything</h1>
<!--On submit, send the form-data to the answer page-->
<form action="/answer" method="get" data-turbo="false">
  <input type="text" name="question" placeholder="What you want?">
  <input type="submit" value="Ask!">
</form>
